<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<override xmlns:xi="http://www.w3.org/2001/XInclude" seg-detach="true" seg-id="system" seg-type="attribute-group-override">
    <code>system</code>
    <attribute>state</attribute>
    <attribute>creationDate</attribute>
    <attribute>lastModifiedDate</attribute>
    <attribute>author</attribute>
    <attribute>serialNumber</attribute>
    <attribute>inventoryNumbe</attribute>
    <attribute>Price</attribute>
    <order>title</order>
    <order>metaClass</order>
    <order>state</order>
    <order>creationDate</order>
    <order>lastModifiedDate</order>
    <order>author</order>
    <order>serialNumber</order>
    <order>inventoryNumbe</order>
    <order>Price</order>
</override>
